<div th:fragment="header">
    <div class="container py-3">
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-left">
                <a class="me-3 py-2 text-dark text-decoration-none" href="/distanceCalculator/cities">Города</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/distanceCalculator">Расчет дистанции</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/distanceCalculator/uploadData">Загрузка данных</a>
            </nav>
        </div>
    </div>
</div>